/* Global CSS styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8fafc; 
    color: #111827;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: #111827;
}

a:hover {
    color: #000;
}

/* navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: #fff;
    color: #111827;
    min-height: 50px;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 150px;
    height: auto;
}
.navbar-items {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-items a {
    text-decoration: none;
    color: #111827;
    font: 1em sans-serif;
    line-height: 1.2;
    transition: 0.2s ease;
}

.navbar-items a.active,
.navbar-items a:hover,
.navbar-items a:focus {
    color: #2563eb;;
    font-weight: 700;
}

/* =========================================================
   TYPOGRAPHY
   ========================================================= */

h1 {
    color: #111827;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

h2 {
    color: #111827;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: 1rem;

}

h3 {
    color: #111827;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

p {
    color: #374151;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* =========================================================
   FOOTER
   ========================================================= */

.site-footer {
    background-color: #111827;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
.footer-logo {
    margin-bottom: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #60a5fa;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .footer-links {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 0;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
    .logo img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 0.875rem;
    }

    .logo img {
        width: 100px;
    }
}

